.single-box {
  background: #333;
  color: #fff;
  border-radius: 7px;
  padding: 10px;
}
.single-box img {
  width: 100%;
  height: 140px;
  object-fit: cover;
}
.detail-btn {
  cursor: pointer;
}
.details-link {
  padding: 4px 15px;
  background: #ffffff;
  color: #000000;
  text-decoration: none;
}
